<div class="container">
  <img
    src="assets/task-list-null.png"
    alt="Sua lista de tarefas esta vazia - Imagen ilustrativa"
    loading="eager"
  />
  <div *ngIf="addItem(); else elseBlock">
    <button class="btn btn-primary" (click)="addItem.set(false)">
      Crie sua lista de tarefas
    </button>
  </div>
  <ng-template #elseBlock
    ><div>
      <label class="input-label-text" for="inputValue">
        <input
          type="text"
          placeholder="Adicione um novo item"
          id="inputValue"
        />
        <button
          class="btn btn-primary-circle"
          title="Adicionar um novo item"
        ></button>
      </label>
    </div>
  </ng-template>
</div>
