@if (!getListItens().length) {
<div class="container">
  <img
    src="assets/task-list-null.png"
    alt="Sua lista de tarefas esta vazia - Imagen ilustrativa"
    loading="eager"
  />
  <div *ngIf="addItem(); else elseBlock">
    <button class="btn btn-primary" (click)="addItem.set(false)">
      Crie sua lista de tarefas
    </button>
  </div>
  <ng-template #elseBlock>
    <app-input-add-item
      [inputListItems]="getListItens()"
      (oututAddListItems)="getInputAndAddItem($event)"
    />
  </ng-template>
</div>
} @else {
<app-input-add-item
  [inputListItems]="getListItens()"
  (oututAddListItems)="getInputAndAddItem($event)"
/>
<main class="container">
  <div *ngIf="listItemsStage('pending').length">
    <h2>Pendencias</h2>
    <app-input-list-item
      [inputListItems]="listItemsStage('pending')"
      (outputUpdateItemCheckBox)="updateItemCheckbox($event)"
    />
  </div>
  <div *ngIf="listItemsStage('complete').length">
    <h2>Concluidas</h2>
    <app-input-list-item
      [inputListItems]="listItemsStage('complete')"
      (outputUpdateItemCheckBox)="updateItemCheckbox($event)"
    />
  </div>
</main>
<footer>
  <button (click)="deleteAllItems()" class="btn btn-danger">
    Deletar todos os itens
  </button>
</footer>
}
